{% extends "./base.html" %}
{% comment %}
{% endcomment %}

{% block head %}
<title>Set members</title>


{% endblock %}
{% block body %}
{{ message }}    
    
<a href='/login/home'>Back</a><br><br>    
    
<h2>Set Repository  Members </h2> Repository Name :{{ repo }}    
<br><br>
<table>
<tr><td>
    <form action='' method=post>
    {% csrf_token %}
    <table>    
    {% for  field in form %}
    
    <tr><td>{{ field.label }}</td><td>{{ field }}</td><td> {{field.errors }}</td><tr>
    
    {% endfor %}
    <tr><td colspan=2 align=right><input type=submit value='Save' onclick="javascript:this.form.action='/svn_manage/save_repo__user/' "> </td></tr>
    </table>
    <input type=hidden name=repo value={{ repo }}>
    </form>
</td><td>
    <form action='' method=post>
     {% csrf_token %}   
    <table>    
    {% for  field in form1 %}
    
    <tr><td>{{ field.label }}</td><td>{{ field }}</td><td> {{field.errors }}</td><tr>
    
    {% endfor %}
    <tr><td colspan=10 align=right><input type=submit value='Save' onclick="javascript:this.form.action='/svn_manage/save_repo_group/' "> </td></tr>
    <input type=hidden name=repo value={{ repo }}>
    </form>
</td><tr>
</table>

{% endblock %}



